html {
  font-size: 10px;
}

body {
  font-family: $DM_Sans;
  color: #1B2F53;
}
img {
  max-width: 100%;
  height: auto;
}


//
//Botton
//
.cta-primary {
  @include cta-primary;
}
.cta-secondary {
  @include cta-secondary;
}


//
// Default Spacing
//

// Margin
.mt-10 {
  margin-top: 10rem;
}
.mb-10 {
  margin-bottom: 10rem;
}

// Padding

.pt-10 {
  padding-top: 10rem;
}
.pb-10 {
  padding-bottom: 10rem;
}


//  
//Background Accsent
//
.bg-accent-pink {
  list-style: none;
  padding: 0;
  margin: 0;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;

  .bg-sm {
    width: 100%;
    height: 1.14rem;
    background: #f7c7ff;
    margin-bottom: 2.3rem;
    z-index: 0;
  }
  .bg-lg {
    width: 100%;
    height: 10rem;
    background: #f7c7ff;
  }
}
.bg-accent-orange {
  list-style: none;
  padding: 0;
  margin: 0;
  position: absolute;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  z-index: -1;
  top: 65%;

  .bg-sm {
    width: 100%;
    height: 1.14rem;
    background: #fac72e;
    margin-bottom: 2.3rem;
    z-index: 0;
  }
  .bg-lg {
    width: 100%;
    height: 10rem;
    background: #fac72e;
    margin-bottom: 1.14rem;
  }
  .bg-xl {
    width: 100%;
    height: 45.2rem;
    background: #FFF0C2;
    margin-bottom: 1.14rem;
  }
}



//
//Border
//
.b-border {
  border-left: 0.2rem solid #1b2f53;
  border-right: 0.2rem solid #1b2f53;
}
