.lets-banner {
  position: relative;
  &:before {
    content: "";
    background-image: url(../images/banner-accent.svg);
    background-repeat: no-repeat;
    background-color: #b5e7f3;
    position: absolute;
    display: block;
    left: 0;
    right: 0;
    top: 0;
    height: 47%;
    z-index: -1;
    @media screen and (max-width: $break-medium) {
      background: #fff;
    }
    @media screen and (max-width: $break-x-medium) {
   background-image: none;
    }
  }
  .lets-banner-inner {
    background:#fff;
    background-image: url(../images/contact-bg.svg);
    background-size: contain;
    background-repeat: no-repeat;
    @media screen and (max-width: $break-medium) {
      background-size: 175%;
    }
    @media screen and (max-width: $break-x-medium) {
      padding: 5rem 2rem !important;
    }
    h6.contact-subtitle {
      font-weight: normal;
      line-height: 3.8rem;
      margin-bottom: 2.5rem;
      margin-top: 0;
    }
    .line-list {
      @media screen and (max-width: $break-medium) {
        text-align: left;
        margin-bottom: 3rem;
      }
    }
    .content-form {
      padding: 7rem;
      background-color: #1b2f53;
      @media screen and (max-width: $break-medium) {
        padding: 4rem;
        text-align: left;
        margin-bottom: -3rem;
      }
      @media screen and (max-width: $break-x-medium) {
        padding: 5rem 4rem;
        margin-bottom: -10rem;
      }
      .form-box {
        form {
          margin-bottom: 3rem;
        }
        .form-group {
          input.form-control {
            border: 0;
            border-radius: 0;
            height: 7rem;
            border-bottom: 0.1rem solid $dark-blue;
            font-size: 1.8rem;
            @media screen and (max-width: $break-medium) {
              height: 5rem;
              font-size: 1.5rem;
            }
            @media screen and (max-width: $break-x-medium) {
              height: 5rem;
            }
          }
          textarea.form-control {
            border: 0;
            border-radius: 0;
            min-height: 25rem;
            font-size: 1.8rem;
            @media screen and (max-width: $break-medium) {
              min-height: 20rem;
              font-size: 1.5rem;
            }
          }
          ::placeholder {
            font-size: 1.8rem;
            @media screen and (max-width: $break-x-medium) {
              font-size: 1.5rem;
            }
          }
        }

        .contact-submit {
          color: #fff;
          margin-top: 3rem;
          &:hover {
            color: $purple;
          }
        }
        .contact-sub {
          p {
            color: #fff;
            font-weight: normal;
          }
          .link-with-arrow {
            color: #fff;
            @media screen and (max-width: $break-x-medium) {
              font-size: 1.8rem;
            }
          }
        }
      }
    }
  }
}
