.our-story-banner{
    .banner__inner{
        background-color: #E8F0FF;
    }
}

.our-story-banner-bottom {
    border-bottom: 0.2rem solid #1b2f53;
    .banner-bottom__title {
      &::before {
        content: "";
        position: absolute;
        display: inline-block;
        background-image: url(images/);
      }
    }
    &__subtitle {
      max-width: 66.2rem;
      width: 100%;
      margin-bottom: 6.5rem;
    }
    .service-card {
      background: #ffffff 0% 0% no-repeat padding-box;
      box-shadow: 0px 3px 6px #00000029;
      border-radius: 15px;
      overflow: hidden;
      padding: 3.1rem;
      display: flex;
      flex-direction: column;
      height: 100%;
      position: relative;
      .card-accent {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        padding: 0;
        list-style: none;
        .line-bg {
          background: #94ddee;
          height: 12rem;
          margin-bottom: 1.1rem;
        }
        .line-sm {
          background: #94ddee;
          height: 3rem;
          margin-bottom: 1rem;
        }
      }
      .card-img {
        position: relative;
        z-index: 1;
        margin-bottom: 3.4rem;
        img {
          max-width: 17.2rem;
        }
      }
      .card-content {
        .card-heading {
          color: #7061f0;
          margin-bottom: 1.8rem;
        }
      }
    }
    .link-with-arrow {
      font-size: 5.5rem;
      line-height: 5.4rem;
      text-transform: inherit;
      font-family: $Span;
    }
  }


  .who-help {
    overflow: hidden;
    position: relative;
    
    &:before {
      content: "";
    }
    .b-border {
      border-left: 0;
    }
    .container {
      &:after {
        content: "";
        width: 400%;
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 100% ; 
      }
    }
    &-color-1{
      background-color: #ED6B4D;
      // .container {
      //   &:after {
      //   }
      // }
    }
    &-carousel {
      &-outer {
        height: 100%;
        background-color: #fff;
        padding: 16rem 6rem;
      }
      h6 {
        font-size: 2rem;
        border-bottom: 1px solid;
        padding: 1.8rem 0;
        margin-bottom: 6rem;
      }
      h5 {
        font-size: 2.8rem;
        line-height: 3.6rem;
        margin-bottom: 3rem;
      }
      .owl-dots {
        position: relative;
        margin-top: 5rem;
        padding-top: 4rem;
        display: flex;
        justify-content: flex-start;
        border-top: 1px solid ;
    
        .owl-dot {
          width: 2rem;
          height: 2rem;
          border-radius: 50%;
          border: 0.1rem solid $dark-blue;
          margin-left: 0.8rem;
          margin-right: 0.8rem;
    
          &.active {
            background: $dark-blue;
          }
        }
      }
    }
  }