
//## Headers
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $Span;
}
h1 {
  font-size: 8rem;
  font-weight: 600;
  line-height: 9rem;
  color: #7061F0;
}

h2 {
  font-size: 5.5rem;
  font-weight: 700;
  line-height: normal;
}

h3 {
  margin: 1.1rem 0;
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 3.6rem;
}

h4 {
  margin: 1.8rem 0;
  font-size: 4.5rem;
  font-weight: 700;
  line-height: 5.5rem;
}

h5 {
  margin: 1.5rem 0;
  font-size: 4.4rem;
  line-height: 5.4rem;
  font-weight: 600;
  color: #1B2F53;
}

h6 {
  margin: 1.2rem 0;
  font-size: 2.8rem;
  font-weight: 700;
  line-height: 2.6rem;
}
//## Subtitle
.subtitle {
  color: #7061F0;
  font-weight: normal;
  font-size: 2.8rem;
}
//## Paragraphs
p {
  font-size: 1.8rem;
  margin-bottom: 2rem;
  line-height: 2.6rem;

}
//## Links
a {
  cursor: pointer;
  font-weight: normal;
  font-size: 1.8rem;
  text-decoration: none;
  transition: 0.2s ease;
  color: #7061F0;

  &:hover {
    color: #1B2F53;
  }
}


