//
// Fonts
//

// Span
$Span: "span";

// DM Sans
$DM_Sans: "DM Sans", sans-serif;

// 
// Colors
// 



//
// Breakpoints
//
$break-x-large: 1201px;
$break-large: 1025px;
$break-x-medium: 850px;
$break-medium: 700px;

$dark-blue : #1B2F53;
$purple : #7061F0;

